# backend ignore
backend/__pycache__/
backend/venv/
backend/.idea/
backend/.DS_Store

# frontend ignore
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store

# general ignore
*.pyc
*.pyo
*.pyd
.env
.DS_Store
